.curve-sections {
  width: 100%;
  margin-inline: auto;
}

.curve-sections section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: teal;
  padding: 2rem;
}

.curve-sections section p {
  max-width: 55rem;
  margin-inline: auto;
}

.curve-sections section:nth-child(1) {
  background-color: rgb(204, 52, 52);
}

.curve-sections section:nth-child(2) {
  background-color: blue;
}

.curve-sections section:nth-child(3) {
  background-color: rgb(221, 255, 0);
  color: black;
}

.curve-sections section:nth-child(4) {
  background-color: rgb(180, 13, 157);
  color: black;
}

.curve-sections section:nth-child(5) {
  background-color: rgb(13, 163, 180);
  color: black;
}

.curve-sections section:nth-child(6) {
  background-color: rgb(216, 117, 197);
  color: black;
}

.curve-sections section:nth-child(7) {
  background-color: rgb(99, 31, 235);
  color: black;
}

.curve-sections section:nth-child(8) {
  background-color: rgb(234, 230, 21);
  color: black;
}
